*devenv/*
dist/
.cache/
.pytest_cache/
.vscode/
*.pyc
*.pyo
*.swp
.ropeproject/
*.egg-info/
*.egg
.idea/
.tox/
*.iml
.coverage
.tmp
.editorconfig
stat.txt
/tmp
*.log
*__pycache__/
_local_tests/
checker.local.json
local_requirements.txt
venv/
local.txt
local_catalog
.DS_Store
*.xlsx
*/results/*
/results/
